---
import { getCollection } from "astro:content";
import FormattedDate from "@/components/FormattedDate.astro";
import Layout from "@/layouts/Layout.astro";
import { Separator } from "@/components/ui/separator";
import { TypingText } from "@/components/animate-ui/text/typing";
import { cn } from "@/lib/utils";

const posts = (await getCollection("articles"))
  // .filter((post) => post.data.published && !post.data.archived)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<Layout>
  <div
    class="relative py-10 z-10 min-h-svh pointer-events-auto w-full flex justify-center items-center flex-col"
  >
    <TypingText
      text="Articles"
      className="text-4xl font-bold"
      cursor
      client:load
    />
    <div class="max-w-2xl mx-auto p-6 space-y-10">
      <section>
        {
          posts.length === 0 && (
            <p class="text-center text-2xl font-bold">Soon...</p>
          )
        }
        <ul class="flex flex-col gap-4">
          {
            posts.map((post) => (
              <li class="flex flex-col gap-2 group">
                <a href={`/articles/${post.id}/`}>
                  {post.data.archived && (
                    <p class="text-sm text-neutral-500">Archived</p>
                  )}
                  <h4
                    class={cn(
                      "title text-2xl font-bold",
                      post.data.archived && "line-through"
                    )}
                  >
                    {post.data.title}
                  </h4>
                  <p class="date">
                    <FormattedDate date={post.data.date} />
                  </p>
                </a>
                <Separator className="border-2 rounded-full group-hover:border-neutral-600 transition-colors duration-300 ease-in-out dark:group-hover:border-neutral-400 group-last:hidden" />
              </li>
            ))
          }
        </ul>
      </section>
    </div>
  </div>
</Layout>
